node_modules
dist
build
coverage
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
*.sqlite
*.db
prisma/migrations
.docker
docker-compose.yml
Dockerfile
package-lock.json
yarn.lock
